<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oukelaile.demo2403.mapper.system.SysMenuMapper">

    <resultMap id="sysMenuMap" type="com.oukelaile.demo2403.entity.system.SysMenu">
        <result column="MENU_ID" jdbcType="BIGINT" property="menuId" />
        <result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
        <result column="PARENT_MENU_ID" jdbcType="BIGINT" property="parentMenuId" />
        <result column="MENU_PATH" jdbcType="VARCHAR" property="routerPath" />
        <result column="MENU_ORDER" jdbcType="INTEGER" property="menuOrder" />
        <result column="MENU_ICON" jdbcType="VARCHAR" property="menuIcon" />
    </resultMap>



    <select id="selectMenuNormalAll" resultType="com.oukelaile.demo2403.entity.system.SysMenu">
        SELECT * FROM sys_menu
        WHERE del_flag = 0 AND status = 0
    </select>
    <select id="selectAllList" resultType="com.oukelaile.demo2403.entity.system.SysMenu">
        SELECT * FROM sys_menu
        WHERE del_flag = 0
        <if test="param.menuName != null and param.menuName != ''">
            AND menu_name LIKE CONCAT('%',#{param.menuName},'%')
        </if>
    </select>

    <!--    <select id="selectAllList" resultType="com.oukelaile.demo2403.entity.system.SysMenu">-->
<!--        SELECT * FROM sys_menu-->
<!--        WHERE del_flag = 0-->
<!--    </select>-->

</mapper>